@charset "UTF-8";

/* ==============================================
 * マップ
 * ============================================== */

.divMapBase {
	border: solid 1px;
	border-color: rgb(150, 150, 150);
	background-color: rgb(20, 20, 20);
}

.divMap {
	border: none;
	border-color: rgb(150, 150, 150);
	background-color: rgb(0, 0, 0);
	position: relative;
}

.partMap {
	position: absolute;
	filter: brightness(70%);
}
