@charset "UTF-8";

/* ==============================================
 * マップ
 * ============================================== */

.divMapBase {
	border: solid 1px;
	border-color: rgb(150, 150, 150);
	background-color: rgb(20, 20, 20);
}

.divMap {
	border: none;
	border-color: rgb(150, 150, 150);
	background-color: rgb(0, 0, 0);
	position: relative;
}

img {
	position: absolute;
	visibility: hidden;
}

/* ==============================================
 * テーブル要素
 * ============================================== */
table {
	border: none;
	vertical-align: middle;
}

td {
	height: 40px;
	width: 40px;
}

.btnMove {
	height: 40px;
	width: 40px;
	text-align: center;
	vertical-align: middle;
	border: solid 1px;
	border-color: rgb(150, 150, 150);
	border-radius: 3px;
}

.btnOther {
	height: 40px;
	width: 120px;
	text-align: center;
	vertical-align: middle;
	border: solid 1px;
	border-color: rgb(150, 150, 150);
	border-radius: 3px;
}

.btnOther:hover {
	background-color: rgb(170,200,255);
}