@charset "UTF-8";

/* テーブル */
table {
	border-collapse: collapse;
}

td {
	border: solid 1px;
	border-color: rgb(70, 70, 70);
	width: 20px;
	height: 20px;
	background-color: rgb(50, 40, 40);
	color: rgb(255, 50, 0);
	text-align: center;
	vertical-align : middle;
	font-size: 10px;
}

.td_kabe {
	border: solid 1px;
	border-color: rgb(170, 170, 170);
	width: 20px;
	height: 20px;
	background-color: rgb(210, 200, 200);
}

/* 操作ボタン */
.btn {
	width: 50px;
}

.td_btn {
	border: none;
	background-color: white
}